body {
	padding: 20px;
}

.msg {
	background-color: #e3e3e3;
	padding: 10px;
	float: left;
	width: 70%;
}
aside {
	float: left;
	width: 27%;
}
.header {
	padding-bottom: 10px;
}

.body {
	height: 400px;
	overflow-y: scroll;
}

.clearfix {
	clear:both;
	zoom:1;
}

.send {
	margin-top: 10px;
}
.sendMsg {
	width: 60%;
}